.DS_Store
node_modules
node_modules.nosync
/dist
/public
/patches
.env
.env.*
!.env.example
/src/assets/music/charts.json

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
.yarn
src/assets/plates.json
src/assets/music/*.json
src/assets/collection/*.json