version: "3.8"
services:
    saltnet-db:
        image: ghcr.io/realtvop/saltnet-db:latest
        restart: always
        ports:
            - "3721:3721"
        depends_on:
            - postgres
            - redis

    postgres:
        image: postgres:latest
        restart: unless-stopped
        volumes:
            - ./postgres-data:/var/lib/postgresql
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: postgres

    redis:
        image: redis:alpine
        restart: unless-stopped
        volumes:
            - ./redis-data:/data
