version: "3.8"
services:
    devcontainer:
        image: mcr.microsoft.com/devcontainers/typescript-node:1-22-bookworm
        volumes:
            - ../:/workspace:cached
        # Use default network and rely on Docker service DNS (use 'db' hostname to reach database)
        command: sleep infinity
        depends_on:
            - postgres
            - redis

    postgres:
        image: postgres:latest
        restart: unless-stopped
        volumes:
            - postgres-data:/var/lib/postgresql
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: postgres

    redis:
        image: redis:alpine
        restart: unless-stopped
        volumes:
            - redis-data:/data

volumes:
    postgres-data:
    redis-data: