version: "3.8"
services:
    devcontainer:
        image: mcr.microsoft.com/devcontainers/typescript-node:1-22-bookworm
        volumes:
            - ../:/workspace:cached
        # Use default network and rely on Docker service DNS (use 'db' hostname to reach database)
        # (Removing `network_mode: service:db` avoids OCI runtime namespace errors on some hosts)
        command: sleep infinity
        depends_on:
            - postgres

    postgres:
        image: postgres:latest
        restart: unless-stopped
        volumes:
            - postgres-data:/var/lib/postgresql/data
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: saltnet

volumes:
    postgres-data:
