:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    /* 一堆变量 */

    --nav-bar-height: 5rem;
    --nav-bar-padding-bottom: 0px;
    --content-left-padding: 0px;
    @supports (-webkit-touch-callout: none) {
        @media all and (display-mode: standalone) {
            --nav-bar-height: 6rem !important;
            --nav-bar-padding-bottom: 1rem !important;
        }
        -webkit-tap-highlight-color: transparent;
    }
    @media (min-aspect-ratio: 1.001/1) {
        --content-left-padding: 5rem;
    }
}

img {
    -webkit-user-drag: none;
}

html {
    overscroll-behavior-y: none;
}

body {
    margin: 0;
    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;
}

mdui-snackbar {
    margin-bottom: 5rem;
}

@media (min-aspect-ratio: 1.001/1) {
    mdui-snackbar {
        margin-bottom: 0;
    }
}

@supports (-webkit-touch-callout: none) {
    mdui-snackbar {
        @media all and (display-mode: standalone) {
            margin-bottom: 6rem;
        }
    }
}
