:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-rendering: optimizeLegibility;

    /* 一堆变量 */

    --nav-bar-height: 5rem;
    --nav-bar-padding-bottom: 0px;
    --content-left-padding: 0px;

    /* 难度颜色（浅色模式） */
    --difficulty-0-color: #96d767;
    --difficulty-1-color: #eeba41;
    --difficulty-2-color: #ef888f;
    --difficulty-3-color: #b54fdf;
    --difficulty-4-color: #d3acf9;
    --difficulty-5-color: #ee78f6;

    @supports (-webkit-touch-callout: none) {
        @media all and (display-mode: standalone) {
            --nav-bar-height: 6rem !important;
            --nav-bar-padding-bottom: 1rem !important;
        }
        -webkit-tap-highlight-color: transparent;
    }
    @media (min-aspect-ratio: 1.001/1) {
        --content-left-padding: 5rem;
    }
}

/* 深色模式下的难度颜色 */
@media (prefers-color-scheme: dark) {
    :root {
        --difficulty-0-color: #45c124;
        --difficulty-1-color: #ffba01;
        --difficulty-2-color: #ff7b7b;
        --difficulty-3-color: #9f51dc;
        --difficulty-4-color: #dbaaff;
        --difficulty-5-color: #ff6ffd;
    }
}

img {
    -webkit-user-drag: none;
}
img.favicon {
    pointer-events: none; /* 主要方法，阻擋所有滑鼠事件 */
    user-select: none; /* 禁止選取 */
    -webkit-user-select: none; /* 針對舊版WebKit瀏覽器 */
    -moz-user-select: none; /* 針對Firefox瀏覽器 */
    -ms-user-select: none; /* 針對IE/Edge瀏覽器 */
    -webkit-user-drag: none; /* 禁止在WebKit瀏覽器中拖曳 */
}

html {
    overscroll-behavior-y: none;
}

body {
    font-family: "Roboto", "Noto Sans SC" !important;
    margin: 0;
    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;
}

mdui-snackbar {
    margin-bottom: 5rem;
}

@media (min-aspect-ratio: 1.001/1) {
    mdui-snackbar {
        margin-bottom: 0;
    }
}

@supports (-webkit-touch-callout: none) {
    mdui-snackbar {
        @media all and (display-mode: standalone) {
            margin-bottom: 6rem;
        }
    }
}

/* 中文过长换行 patch */
mdui-tabs {
    white-space: nowrap;
}
